{% load dsrshot_extras %}
<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>DSR Emailer</title>
</head>

<body>
    <div align="center">
        <h1>Enter URL:</h1>
        <form action="{% url 'dsrshot:get_screenshot' %}" method="post">
            {% csrf_token %}
            <input name="url" placeholder="Ex. https://www.netflix.com" required size="50" type="url">

            <input type="submit" value="Generate screenshot">
        </form>

        {% if screenshot %}
            <h2>Screenshot</h2>
            {% if save %}
                <img src="{{ MEDIA_URL }}{{ screenshot }}">
            {% else %}
                <img src="{{ screenshot|decode_image }}">
            {% endif %}
        {% endif %}
    </div>
</body>
</html>
